.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question-type-selector-container {
  padding: 20px 0;
  display: flex;
  gap: 20px;
}

.choice-of-answer-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
